jupyter
jupyterlab
jupyter-tensorboard
metakernel
wolframalpha
calysto_scheme
knitty
py-pandoc
Plotly
numpy
scipy
voila
voila-material
pandas
matplotlib
seaborn
wordcloud
nltk
sklearn
scikit-plot
ipywidgets
nbtools
jupygit
conda
jupyter_dashboards
invoke
