jupyter
jupyterlab
tornado
jupyter-tensorboard
jupyter_dashboards
ipywidgets
nbtools
jupygit
metakernel
wolframalpha
calysto_scheme
knitty
py-pandoc
Plotly
numpy
scipy
voila
voila-material
nbconvert
pandas
matplotlib
seaborn
wordcloud
nltk
sklearn
scikit-plot
conda
invoke
